body{
	background:url(shurek.jpg) repeat;
color: aquamarine
}
#mural textarea {
	padding: 5px;
	height: 90px;
	width: 140px;
	border: 1px solid #666666;
}
* {
label { display: block; margin-top: 10px; }
}
#formulario_mural {
	text-align: center;
	float: left;
	width: 480px;
	margin-bottom: 10px;
	background:#75952a;
	padding:10px;
margin:0 auto;


} 
h1{
    text-align: center;
    
}
*{
    margin-left: center;
}
#main{
	width:500px;
		margin:auto;
}